<%- include("../partials/header") %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to FAYCE Value!</h1>
      <p>View our hand-picked all-you-can-eat restaurants</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/restaurants/new"
          >Add New Restaurant</a
        >
      </p>
    </div>
  </header>

  <div class="row text-center">
    <div class="col-md-12">
      <% if(noMatch !== null) { %>
      <h3><%= noMatch %></h3>
      <p>
       <form id="search" action="/restaurants" method="GET" class="form-inline">
         <div class="form-group">
           <input type="text" name="search" placeholder="Restaurant search..." class="form-control">
           <input type="submit" value="Search" class="btn btn-info">
         </div>
       </form>
      </p>
      <% } %>
    </div>
    <% restaurants.forEach(function(restaurant) { %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <img
          src="<%=restaurant.image%>"
          class="card-img-top"
          alt="<%= restaurant.name %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <a href="/restaurants/<%= restaurant._id %>" class="btn btn-primary"
            >More Info</a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include("../partials/footer") %>
