<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="map"></div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <img class="card-img-top" src="<%= restaurant.image %>" />
        <div class="card-body">
          <h4 class="float-right">$<%= restaurant.cost %>/person</h4>
          <h4 class="card-title"><a href=""><%= restaurant.name %></a></h4>
          <p class="card-text"><%= restaurant.description %></p>
          <p>
            <em>
              Submitted by <%= restaurant.author.username %>, <%= moment(restaurant.createdAt).fromNow() %>
            </em>
          </p>
          <% if (currentUser && restaurant.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) {
          %>
          <a
            class="btn btn-warning"
            href="/restaurants/<%= restaurant._id %>/edit"
            >Edit Restaurant</a
          >
          <form
            class="delete-form"
            action="/restaurants/<%= restaurant._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="text-right">
            <a
              class="btn btn-success"
              href="/restaurants/<%= restaurant._id %>/comments/new"
              >Add Comment</a
            >
          </div>
          <hr />
          <div class="row"></div>
            <% restaurant.comments.forEach(function(comment) { %>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="float-left w-75">
                      <p class="card-title"><%= comment.author.username %></p>
                      <p class="card-text"><%= comment.text %></p>
                    </div>
                    <div id="comment-right" class="float-right">
                      <p>
                        <%= moment(comment.createdAt).fromNow() %>
                      </p>
                      <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <div id="comment-buttons" class="float-right">
                          <a class="btn btn-sm btn-warning" href="/restaurants/<%= restaurant._id %>/comments/<%= comment._id %>/edit">
                            Edit
                          </a>
                          <form
                            action="/restaurants/<%= restaurant._id %>/comments/<%= comment._id %>?_method=DELETE"
                            method="POST"
                            class="delete-form"
                          >
                            <button class="btn btn-sm btn-danger"/>Delete</button>
                          </form>
                          </div>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="/restaurants">Go back!</a>

<script>
  function initMap() {
    var lat = <%= restaurant.lat %>;
    var lng = <%= restaurant.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= restaurant.name %><br />
      <%= restaurant.location %></strong>
      <p><%= restaurant.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIJSQaidFW2nTaVB6AvSUILX7cXDRfzzk
&callback=initMap"></script>

<%- include("../partials/footer") %>
